<div class="row" style="margin-top: 25px">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
		<form ng-submit="newUser()" novalidate name="signupForm">
			<legend class="text-center">
				<b>
					Sign Up
				</b>
			</legend>
			<h4>
				Get started!
			</h4>
			<div class="form-group error-message text-danger bg-danger" ng-show="formErrors.length > 0">
				<div ng-repeat="error in formErrors">
					{{error}}
				</div>
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" required ng-model="first" ng-blur="validateField($event)" placeholder="First Name" name="first"> 
			</div>
			<div class="form-group">
				<label>Last Name</label>				
				<input type="text" class="form-control" required ng-model="last" ng-blur="validateField($event)" placeholder="Last Name" name="last"> 
			</div>
			<div class="form-group">
				<label>Email Address</label>				
				<input type="email" class="form-control" required ng-model="email" ng-blur="validateField($event)"placeholder="Email" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>				
				<input type="password" class="form-control" required ng-model="password" ng-blur="validateField($event)" placeholder="Password" name="password"> 
			</div>
			<div class="form-group">
				<label>Password Confirmation</label>				
				<input type="password" class="form-control" required ng-model="passwordConfirmation" ng-blur="validateField($event)" placeholder="Password Confirmation" name="passwordConfirmation"> 
			</div>
			<div class="help-block">
				By clicking Create An Account, you agree to our Terms and our Data Use Policy.
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-lg btn-primary btn-block signup-btn" value="Create An Account">
			</div>

		</form>
	</div>
</div>