<div class="row" style="margin-top: 25px">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
		<ul class="list-unstyled">
			<li ng-repeat="error in errors track by $index">
				{{error}}
			</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-top: 25px">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
		<h2>
			Awaiting Admin Approval		
		</h2>
		<ul class="list-unstyled">
			<li ng-repeat="user in unapprovedUsers track by $index">
				{{user.first}} {{user.last}} ({{user.email}})
				<input type="button" class="btn btn-success pull-right" ng-click="approveUser(user)" value="Approve"/>
			</li>
		</ul>
	</div>
</div>